  <div class="card">
    <h2>Group reputation</h2>
    <p-table [value]="dataSource" [scrollable]="true" scrollHeight="300px">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Points</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr *ngIf="customer.first_name">
                <td>{{customer.first_name}} {{customer.last_name}}</td>
                <td>{{customer.points}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>