/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
    margin: 0;
    padding: 2rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #e9ecef;
}